## Variables in R

In [1]:
name <- "John"
age <- 40
name # auto-print the value of the name variable
print(name) # you can also use print() function
print(age)

[1] "John"

[1] "John"
[1] 40

## Printing multiple things in a single print() call

In [2]:
name <- "Himanshu"
age <- 27
print(c(name,age))

[1] "Himanshu" "27"

## Note: c() function  might not give you desired results so use cat()

In [3]:
cat(name,age) # this will directly print the result without needing print()

Himanshu 27

## Concatenate Elements

In [4]:
text1 <- "R is"
text2 <- "awesome !!!"

paste(text1, text2)

[1] "R is awesome !!!"

Here's a comparison between `cat()` and `paste()` in R, presented in a table format:

| **Aspect**             | **`cat()`**                                                   | **`paste()`**                                                |
|------------------------|---------------------------------------------------------------|--------------------------------------------------------------|
| **Primary Purpose**     | Prints output directly to the console                         | Combines strings and returns the result as a character string |
| **Return Value**        | `NULL`                                                        | A character string                                            |
| **Default Separator**   | No separator (you need to explicitly add spaces)              | Adds a space between elements by default                      |
| **Concatenation Example**| `cat("Alice", 30)` → `Alice30`                               | `paste("Alice", 30)` → `"Alice 30"`                           |
| **Custom Separator**    | No direct option for separators (spaces manually added)       | Supports custom separators with the `sep` argument            |
| **Custom Separator Example** | `cat("Alice-", 30)` → `Alice-30`                         | `paste("Alice", 30, sep="-")` → `"Alice-30"`                  |
| **Printing Behavior**   | Prints immediately, no need for `print()`                    | Returns a string, which can be printed with `print()`         |
| **Usage in Files**      | Commonly used when writing to files or directly outputting text | Used when manipulating or formatting strings programmatically |
| **Typical Use Case**    | Output results directly (e.g., logs, console output)          | Store or manipulate combined strings for later use            |

This table should give you a clear overview of when to use `cat()` vs `paste()` based on your needs in R!

## Multiple Variables

In [5]:
var1 <- var2 <- var3 <- "Orange"

# Print variable values
var1
var2
var3

[1] "Orange"

[1] "Orange"

[1] "Orange"

## Data type in R

- numeric - (10.5, 55, 787)- 
integer - (1L, 55L, 100L, where the letter "L" declares this as an integer
- complex - (9 + 3i, where "i" is the imaginary part)
- character (a.k.a. string) - ("k", "R is exciting", "FALSE", "11.5")
- logical (a.k.a. boolean) - (TRUE or FALSE)LSE)

In [6]:
# numeric
x <- 10.5
class(x)

# integer
x <- 1000L
class(x)

# complex
x <- 9i + 3
class(x)

# character/string
x <- "R is exciting"
class(x)

# logical/boolean
x <- TRUE
class(x)

[1] "numeric"

[1] "integer"

[1] "complex"

[1] "character"

[1] "logical"

## Numbers in R
There are three number types in R:

- numeric
- integer
- complex

In [7]:
x <- 10.5   # numeric ->  This is a double (floating-point)
y <- 10L    # integer
z <- 1i     # complex
cat("The class of",x,"is",class(x),"\n")
cat("The class of",y,"is",class(y),"\n")
cat("The class of",z,"is",class(z),"\n")

The class of 10.5 is numeric
The class of 10 is integer
The class of 0+1i is complex

## Type Conversion



| **Conversion Type**          | **Syntax**                          | **Description**                                           | **Example**                          |
|------------------------------|-------------------------------------|-----------------------------------------------------------|--------------------------------------|
| **To Integer**               | `as.integer(x)`                     | Converts `x` to an integer.                               | `as.integer(3.8)` → `3`              |
| **To Numeric (Double)**      | `as.numeric(x)`                     | Converts `x` to a numeric (double) type.                  | `as.numeric("4.56")` → `4.56`        |
| **To Character**             | `as.character(x)`                   | Converts `x` to a character string.                       | `as.character(123)` → `"123"`        |
| **To Logical**               | `as.logical(x)`                     | Converts `x` to a logical (boolean: `TRUE` or `FALSE`).   | `as.logical(1)` → `TRUE`             |
| **To Factor**                | `as.factor(x)`                      | Converts `x` to a factor (categorical variable).          | `as.factor(c("A", "B", "A"))`       |
| **To Date**                  | `as.Date(x, format)`                | Converts `x` to a date using the specified format.         | `as.Date("2024-10-02")`             |
| **To Time (POSIXct)**        | `as.POSIXct(x, format)`             | Converts `x` to date-time (POSIXct format).               | `as.POSIXct("2024-10-02 12:00:00")` |
| **To Matrix**                | `as.matrix(x)`                      | Converts `x` to a matrix.                                 | `as.matrix(1:9)` → 3x3 matrix        |
| **To Data Frame**            | `as.data.frame(x)`                  | Converts `x` to a data frame.                             | `as.data.frame(matrix(1:4, 2, 2))`  |
| **To List**                  | `as.list(x)`                        | Converts `x` to a list.                                   | `as.list(c(1, 2, 3))` → `list(1, 2, 3)` |
| **To Complex**               | `as.complex(x)`                     | Converts `x` to a complex number.                         | `as.complex(5)` → `5+0i`            |

This table now provides the type conversion syntax, description, and examples.

In [8]:
a <- 10.5
b <- as.integer(a) # Will remove any decimal part
cat("The class of",a,"is",class(a),"\n")
cat("The class of",b,"is",class(b),"\n")

The class of 10.5 is numeric
The class of 10 is integer

## Built-in Math Functions

| **Function**         | **Syntax**                   | **Description**                                            | **Example**                        |
|----------------------|------------------------------|------------------------------------------------------------|------------------------------------|
| **Addition**         | `+`                          | Adds two numbers.                                         | `5 + 3` → `8`                      |
| **Subtraction**      | `-`                          | Subtracts the second number from the first.              | `5 - 2` → `3`                      |
| **Multiplication**   | `*`                          | Multiplies two numbers.                                   | `4 * 3` → `12`                     |
| **Division**         | `/`                          | Divides the first number by the second.                  | `10 / 2` → `5`                     |
| **Exponentiation**   | `^`                          | Raises the first number to the power of the second.      | `2 ^ 3` → `8`                      |
| **Square Root**      | `sqrt(x)`                   | Computes the square root of `x`.                          | `sqrt(16)` → `4`                   |
| **Absolute Value**   | `abs(x)`                    | Returns the absolute value of `x`.                        | `abs(-5)` → `5`                    |
| **Logarithm**        | `log(x, base)`              | Computes the logarithm of `x` with the specified base (default is `e`). | `log(100, 10)` → `2`               |
| **Exponential**      | `exp(x)`                    | Returns the value of `e` raised to the power of `x`.     | `exp(1)` → `2.7183`                |
| **Sine**             | `sin(x)`                    | Computes the sine of `x` (in radians).                   | `sin(pi/2)` → `1`                  |
| **Cosine**           | `cos(x)`                    | Computes the cosine of `x` (in radians).                 | `cos(0)` → `1`                     |
| **Tangent**          | `tan(x)`                    | Computes the tangent of `x` (in radians).                | `tan(pi/4)` → `1`                  |
| **Minimum**          | `min(x, ...)`               | Returns the minimum value among its arguments.           | `min(3, 5, 1)` → `1`               |
| **Maximum**          | `max(x, ...)`               | Returns the maximum value among its arguments.           | `max(3, 5, 1)` → `5`               |
| **Mean**             | `mean(x)`                   | Computes the arithmetic mean of the values in `x`.       | `mean(c(1, 2, 3))` → `2`           |
| **Median**           | `median(x)`                 | Computes the median of the values in `x`.                 | `median(c(1, 3, 2))` → `2`         |
| **Variance**         | `var(x)`                    | Computes the variance of the values in `x`.               | `var(c(1, 2, 3))` → `1`            |
| **Standard Deviation**| `sd(x)`                     | Computes the standard deviation of the values in `x`.     | `sd(c(1, 2, 3))` → `1`             |
| **Sum**              | `sum(x)`                    | Computes the sum of the values in `x`.                    | `sum(c(1, 2, 3))` → `6`            |
| **Product**          | `prod(x)`                   | Computes the product of the values in `x`.                | `prod(c(1, thematical function in R.

## c()
In R, c() is a fundamental function used to create vectors by combining individual elements into a single object. The letter c stands for "combine" or "concatenate." This function is essential for data manipulation and analysis in R, as vectors are one of the most basic data structures in the language.

In [9]:
numeric_vector <- c(1, 2, 3, 4)          # Numeric vector
character_vector <- c("a", "b", "c")      # Character vector
logical_vector <- c(TRUE, FALSE, TRUE)    # Logical vector
mixed_vector <- c(1, "a", TRUE)  # Coerced to character: c("1", "a", "TRUE")

numeric_vector[2] # you can perform indexing on Numeric vector
mixed_vector[3]

# Note: The  index starts from "1" unlike other langauge where index starts from 0

[1] 2

[1] "TRUE"

## ceiling() and floor()

In [10]:
ceiling(1.4) # move up to the nearest Integer

floor(1.4) # move down to the nearest Integer

[1] 2

[1] 1

## String Literals
A string is surrounded by either single quotation marks, or double quotation marks:

"hello" is the same as 'hello':

In [11]:
str <- "Hello"
str # print the value of str
cat("The",str,"is of class =",class(str))

[1] "Hello"

The Hello is of class = character

### Multiline string

In [12]:
str <- "Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt,
ut labore et dolore magna aliqua."

cat(str,"\n") # print the value of str

new_str <- paste("Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt,
ut labore et dolore magna aliqua.",
sep="\n")

cat(new_str)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt,
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt,
ut labore et dolore magna aliqua.

## String Functions in R
In R, string manipulation is commonly done using several built-in functions and packages that provide various string operations. Here’s an overview of some commonly used string functions in R, along with their syntax and examples:

### 1. **Basic String Functions**

| Function      | Description                                               | Syntax                        | Example                                           |
|---------------|-----------------------------------------------------------|-------------------------------|---------------------------------------------------|
| `nchar()`     | Returns the number of characters in a string.           | `nchar(x)`                   | `nchar("Hello")`  returns `5`.                    |
| `toupper()`   | Converts a string to uppercase.                          | `toupper(x)`                 | `toupper("hello")` returns `"HELLO"`.            |
| `tolower()`   | Converts a string to lowercase.                          | `tolower(x)`                 | `tolower("HELLO")` returns `"hello"`.            |
| `trimws()`    | Removes leading and trailing whitespace from a string.   | `trimws(x)`                  | `trimws("  Hello  ")` returns `"Hello"`.         |
| `sub()`       | Replaces the first match of a pattern in a string.      | `sub(pattern, replacement, x)` | `sub("world", "R", "Hello world")` returns `"Hello R"`. |
| `gsub()`      | Replaces all matches of a pattern in a string.          | `gsub(pattern, replacement, x)` | `gsub("l", "L", "Hello")` returns `"HelLo"`.      |

### 2. **String Splitting and Concatenation**

| Function         | Description                                               | Syntax                               | Example                                           |
|------------------|-----------------------------------------------------------|--------------------------------------|---------------------------------------------------|
| `strsplit()`     | Splits a string into substrings based on a delimiter.    | `strsplit(x, split)`                | `strsplit("a,b,c", ",")` returns `list("a", "b", "c")`. |
| `paste()`        | Concatenates strings with a separator.                   | `paste(..., sep = "separator")`    | `paste("Hello", "World", sep = " ")` returns `"Hello World"`. |
| `paste0()`       | Concatenates strings without a separator.                | `paste0(...)`                       | `paste0("Hello", "World")` returns `"HelloWorld"`. |

### 3. **String Extraction and Replacement**

| Function         | Description                                               | Syntax                              | Example                                           |
|------------------|-----------------------------------------------------------|-------------------------------------|---------------------------------------------------|
| `substr()`       | Extracts a substring from a string.                      | `substr(x, start, stop)`           | `substr("Hello", 1, 3)` returns `"Hel"`.         |
| `str_sub()`      | Extracts a substring using the `stringr` package.       | `str_sub(string, start, end)`      | `library(stringr); str_sub("Hello", 1, 3)` returns `"Hel"`. |
| `stringr::str_replace()` | Replaces the first occurrence of a pattern.  | `str_replace(string, pattern, replacement)` | `str_replace("Hello world", "world", "R")` returns `"Hello R"`. |
| `stringr::str_replace_all()` | Replaces all occurrences of a pattern.  | `str_replace_all(string, pattern, replacement)` | `str_replace_all("Hello world", "o", "O")` returns `"HellO wOrld"`. |

### 4. **Pattern Matching and Regular Expressions**

| Function      | Description                                               | Syntax                          | Example                                           |
|---------------|-----------------------------------------------------------|---------------------------------|---------------------------------------------------|
| `grep()`      | Searches for matches to a pattern in a character vector. | `grep(pattern, x)`             | `grep("a", c("apple", "banana"))` returns `1 2`. |
| `grepl()`     | Returns `TRUE` or `FALSE` for matches to a pattern.     | `grepl(pattern, x)`            | `grepl("a", c("apple", "banana"))` returns `TRUE TRUE`. |
| `regexpr()`   | Returns the position of the first match of a pattern.    | `regexpr(pattern, x)`          | `regexpr("a", "banana")` returns `2`.            |
| `gregexpr()`  | Returns positions of all matches of a pattern.           | `gregexpr(pattern, x)`         | `gregexpr("a", "banana")` returns `list(2, 5)`.  |

### 5. **Using the `stringr` Package**
The `stringr` package provides additional functions for string manipulation with a consistent and user-friendly interface. To use `stringr`, you need to install and load the package:

```r
install.packages("stringr")  # Install the package
library(stringr)             # Load the package
```

**Example of `stringr` Functions**:
```r
str_length("Hello")                      # Returns 5
str_to_upper("hello")                    # Returns "HELLO"
str_c("Hello", "World", sep = " ")       # Returns "Hello World"
str_split("a,b,c", ","erface and additional functions for string manipulation.

In [13]:
str <- "Hello World!"

cat("Hello","World!")
paste("Hello", "World!", sep = " ")

Hello World!

[1] "Hello World!"

In [14]:
str <- "Hello World!"

grepl("H", str)
grepl("Hello", str)
grepl("X", str)

[1] TRUE

[1] TRUE

[1] FALSE

In R, escape characters are used to represent special characters within strings. An escape character is denoted by a backslash (`\`) followed by a specific character that indicates the type of special character you want to include.

### Common Escape Characters in R:

| **Escape Sequence** | **Description**                           | **Example**                          |
|---------------------|-------------------------------------------|--------------------------------------|
| `\\`                | Backslash                                  | `print("This is a backslash: \\")` |
| `\'`                | Single quote                              | `print('It\'s a sunny day.')`      |
| `\"`                | Double quote                              | `print("He said, \"Hello!\"")`     |
| `\n`                | New line                                  | `print("First line\nSecond line")` |
| `\t`                | Tab                                       | `print("Column1\tColumn2")`        |
| `\r`                | Carriage return                           | `print("Hello\rWorld")`             |
| `\b`                | Backspace (not widely supported)         |                                      |
| `\f`                | Form feed (not widely supported)         |                                      |
| `\a`                | Alert (bell) (not widely supported)      |                                      |
| `\v`                | Vertical tab (not widely supported)      |                                      |

# Boolean (Logical Values)

In [15]:
10 > 9    # TRUE because 10 is greater than 9
10 == 9   # FALSE because 10 is not equal to 9
10 < 9    # FALSE because 10 is greater than 9

[1] TRUE

[1] FALSE

[1] FALSE

## Boolean Logic In String

| **Aspect**                 | **Operator**   | **Description**                                       | **Example**                                           | **Output**               |
|----------------------------|----------------|-------------------------------------------------------|-------------------------------------------------------|--------------------------|
| **String Equality**        | `==`           | Checks if two strings are equal                       | `"Hello" == "Hello"`                                  | `TRUE`                   |
| **String Inequality**      | `!=`           | Checks if two strings are not equal                   | `"Hello" != "World"`                                  | `TRUE`                   |
| **Logical AND**            | `&`            | Returns `TRUE` if both conditions are true            | `("Hello" == "Hello") & ("World" == "World")`       | `TRUE`                   |
| **Logical OR**             | `\|`            | Returns `TRUE` if at least one condition is true      | `("Hello" == "World")` \| `("Hello" == "Hello")`      | `TRUE`                   |
| **Logical NOT**            | `!`            | Negates the logical value                              | `!("Hello" == "World")`                               | `TRUE`                   |
| **Element-wise Comparison** | `==`           | Compares elements of two vectors of strings           | `c("Apple", "Banana") == c("Apple", "Mango")`       | `TRUE FALSE`             |

## Arithmetic operators in R
In R, arithmetic operators are used to perform mathematical calculations. Here’s a table summarizing the common arithmetic operators, their descriptions, and examples of usage:

| **Operator** | **Description**                | **Example**                 | **Output**      |
|--------------|--------------------------------|-----------------------------|------------------|
| `+`          | Addition                       | `3 + 5`                     | `8`              |
| `-`          | Subtraction                    | `10 - 4`                   | `6`              |
| `*`          | Multiplication                 | `6 * 7`                    | `42`             |
| `/`          | Division                       | `20 / 4`                   | `5`              |
| `^`          | Exponentiation                 | `2 ^ 3`                    | `8`              |
| `%%`         | Modulus (remainder)           | `10 %% 3`                  | `1`              |
| `%/%`        | Integer division (floor)      | `10 %/% 3`                 | `3`              |

In [16]:
11%%2 # modulus

[1] 1

In [17]:
11%/%2 # Integer Division

[1] 5

# R Logical Operators

Logical operators are used to combine conditional statements:

| **Operator** | **Description**                                                                                   |
|--------------|---------------------------------------------------------------------------------------------------|
| &            | Element-wise Logical AND operator. Returns TRUE if both elements are TRUE.                       |
| &&           | Logical AND operator. Returns TRUE if both statements are TRUE.                                  |
| \|           | Element-wise Logical OR operator. Returns TRUE if one of the statements is TRUE.                 |
| \|\|         | Logical OR operator. Returns TRUE if one of the statements is TRUE.                             |
| !            | Logical NOT operator. Returns FALSE if the statement is TRUE.                                    |

* Use | when you want to compare each element in a vector (element-wise).
* Use || when you are only concerned with the first element and want to short-circuit the evaluation.

## If - Else if - Else statement

In [18]:
a <- 200
b <- 200

if (b > a) {
  print("b is greater than a")
} else if (a == b) {
  print("a and b are equal")
} else {
  print("a is greater than b")
}

[1] "a and b are equal"

In [19]:
a <- 200
b <- 33
c <- 500

if (a > b & c > a) {
  print("Both conditions are true")
}

[1] "Both conditions are true"

In [20]:
a <- 200
b <- 33
c <- 500

if (a > b | a > c) {
  print("At least one of the conditions is true")
}

[1] "At least one of the conditions is true"

## While loop

In [21]:
i <- 1
while (i < 6) {
  print(i)
  i <- i + 1
  if (i == 4) {
    break
  }
}

[1] 1
[1] 2
[1] 3

## Next
With the next statement, we can skip an iteration without terminating the loop:

In [22]:
i <- 0
while (i < 6) {
  i <- i + 1
  if (i == 3) {
    next
  }
  print(i)
}

[1] 1
[1] 2
[1] 4
[1] 5
[1] 6

## For Loops
Note: Both upper and lower bounds are included

In [23]:
for (x in 1:10) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [24]:
fruits <- list("apple", "banana", "cherry")

for (x in fruits) {
  print(x)
}

[1] "apple"
[1] "banana"
[1] "cherry"

## String Traversing

In [25]:
# Method 1
str <- "Hello"

# Traverse the string using a for loop
for (char in strsplit(str, NULL)[[1]]) {
    print(char)
}

[1] "H"
[1] "e"
[1] "l"
[1] "l"
[1] "o"

In [26]:
# Method 2
str <- "World"

# Traverse the string using indices
for (i in 1:nchar(str)) {
    print(substr(str, i, i)) # <string,start,end>
}

[1] "W"
[1] "o"
[1] "r"
[1] "l"
[1] "d"

## substr()
The `substr()` function in base R is used to extract or replace substrings from a character vector. It’s a straightforward and efficient tool for basic substring operations, available without needing any additional package installation.

### **Syntax**
```r
substr(x, start, stop)
```

- **x**: A character vector (string).
- **start**: The starting position of the substring (1-based indexing).
- **stop**: The ending position of the substring (inclusive).

### **Usage Examples**

#### 1. Extracting Substring:
```r
text <- "Hello World"
# Extract characters from position 1 to 5
result <- substr(text, 1, 5)
print(result)  # Output: "Hello"
```

#### 2. Replacing Substring:
You can also modify parts of a string by assigning new values to a specific range.

```r
text <- "Hello World"
# Replace characters from position 7 to 11
substr(text, 7, 11) <- "Universe"
print(text)  # Output: "Hello Universe"
```

### **Important Points**
1. **1-based Indexing**: Indexing in R starts at 1, meaning the first character of a string is at position 1.
2. **Inclusive `stop`**: The `stop` argument is inclusive, meaning it includes the character at the specified position.
3. **Cannot Handle Negative Indexing**: Unlike `str_sub()` from the `stringr` package, `substr()` does not support negative indices for counting from the end of the string.
4. **Vectorized**: It can be applied to vectors of strings. If `x` is a vector, `substr()` will extract/replace substrings for each element of the vector.

#### 3. Working with Vectors:
```r
texts <- c("apple", "banana", "cherry")
# Extract first 3 characters from each string
result <- substr(texts, 1, 3)
print(result)  # Output: "app" "ban" "che"
```

### **Limitations**
- **No Negative Indexing**: You can't use negative values for `start` and `stop` to index from the end.
- **Fixed Length**: You cannot extract substrings based on dynamic conditions (e.g., "uts `str_sub()` function might be more appropriate.

In [27]:
text <- "Hello World"
# Extract characters from position 1 to 5
result <- substr(text, 1, 5)
print(result)  # Output: "Hello"

[1] "Hello"

## Functions In R

In [28]:
my_function <- function(fname) {
  paste(fname, "Griffin")
}

my_function("Peter")
my_function("Lois")
my_function("Stewie")

[1] "Peter Griffin"

[1] "Lois Griffin"

[1] "Stewie Griffin"

## Default Parameter Value

In [29]:
my_function <- function(country = "Norway") {
  paste("I am from", country)
}

my_function("Sweden")
my_function("India")
my_function() # will get the default value, which is Norway
my_function("USA")

[1] "I am from Sweden"

[1] "I am from India"

[1] "I am from Norway"

[1] "I am from USA"

## Return Values

In [30]:
my_function <- function(x) {
  return (5 * x)
}

print(my_function(3))
print(my_function(5))
print(my_function(9))

[1] 15
[1] 25
[1] 45

## Nested Functions
There are two ways to create a nested function:

* Call a function within another function.
* Write a function within a function.

In [31]:
# Call a function within another function:

Nested_function <- function(x, y) {
  a <- x + y
  return(a)
}

Nested_function(Nested_function(2,2), Nested_function(3,3))

[1] 10

In [32]:
# Write a function within a function:

Outer_func <- function(x,z) {
  Inner_func <- function(y) {
    a <- (x + z)*y
    return(a)
  }
  return (Inner_func)
}
output <- Outer_func(3,2) # To call the Outer_func
output(5)  # Calling the returned Inner_func with argument 5

# (3+2)*5 = 25

[1] 25

# The Global Assignment Operator
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global assignment operator <<-

In [33]:
my_function <- function() {
txt <<- "fantastic"
  paste("R is", txt)
}

my_function()

print(txt) # txt variable is called outside the function

[1] "R is fantastic"

[1] "fantastic"